@media (max-width: 1475px) {
    .services-wrapper {
        flex-direction: column;
    }
}


@media (min-width: 1440px) {

    .intro-wrapper {
        background-size: 100%;
    }

    .services-wrapper {
        width: 1440px;
    }

    .footer-wrapper {
        width: 1440px;
    }
}


@media (max-width: 1270px) {
    .project-content {
        width: 700px;
    }
}

@media (max-width: 1024px) {
    .intro-wrapper {
        /* background-image: url(../images/1024-bg-img.png);
        background-size: auto; */
    }

    .intro-title {
        font-size: 84px;
        line-height: 84px;
    }

    .intro-text {
        font-size: 18px;
        line-height: 20px;
        width: 587px;
        height: 44px;
    }

    .services-title {
        text-align: center;
    }

    .first-text-block {
        width: 630px;
        height: 30px;
    }

    .second-text-block {
        width: 608px;
    }

}


@media (max-width: 935px) {
    .services-cards-wrapper {
        width: 735px;
    }

    .card {
        width: 364px;
        height: 334px;

    }

    .card .card-border-wrapper {
        width: 331px;
        height: 288px;
    }

    .hover-text {
        width: 196px;
        height: 48px;
    }
}


@media (max-width: 790px) {

    .intro,
    .intro-wrapper {
        height: 465px;
        background-image: url(../images/768-bg-img.jpg)
    }

    .intro-title {
        margin-top: 87px;
        font-size: 60px;
        line-height: 60px;
    }

    .intro-text {
        margin-top: 31px;
        width: 487px;
        height: 54px;
    }

    .intro-button {
        margin-top: 32px;
    }

    .intro-pagination {
        margin-top: 50px;
    }

    .intro-arrows {
        top: 176px
    }


    .services {
        padding-left: 0;
    }

    .services-text-wrapper {
        width: 100%;
        text-align: center;
    }

    .first-text-block {
        width: 100%;
        height: 60px;
        margin: 64px auto 0 auto;
        padding: 0 20px;
    }

    .line {
        margin: 30px auto 0 auto;
    }

    .second-text-block {
        width: 100%;
        height: 48px;
        margin: 35px auto 0 auto;
        padding: 0 20px;
    }

    .services-cards-wrapper {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }


    .card {
        width: 286px;
        height: 310px;
    }

    .card .card-border-wrapper {
        width: 255px;
        height: 268px;
    }
}

@media (max-width: 620px) {
    .intro-wrapper {

        background-size: auto;
    }

    .promo {
        height: 254px;
    }

    .promo-wrapper {
        flex-direction: column;
        justify-content: space-around;
    }

    .promo-text-block {
        text-align: center;
    }
    .promo-title {
        margin-bottom: 10px;
    }

    .intro-title {
        font-size: 60px;
        line-height: 60px;
    }

    .intro-text {
        display: none;
    }
}




@media (max-width: 600px) {

    .services-cards-wrapper {
        width: 302px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .card {
        width: 300px;
        height: 320px;
    }

    .card .card-border-wrapper {
        width: 255px;
        height: 268px;
    }

    @media (max-width: 450px) {

        .intro-arrows {
            display: none;
        }
    }

    @media (max-width: 350px) {
        .intro,
        .intro-wrapper {
            height: 193px;
            background-image: url(../images/320-bg-img.jpg)
        }
       
        .intro-title {
            font-size: 28px;
            line-height: 28px;
            margin-top: 36px;
        }

        .intro-button{
            display: none;
        }

        .intro-pagination {
            margin-top: 63px;
        }

        .title {
            font-size: 24px;
            line-height: 28px;
        }

        .promo {
            height: 301px;
        }


       
    }
}