@media (max-width: 1475px) {
    .services-wrapper {
        flex-direction: column;
    }
}


@media (min-width: 1440px) {

    .intro-wrapper {
        background-size: 100%;
    }

    .services-wrapper {
        width: 1440px;
    }

    .footer-wrapper {
        width: 1440px;
    }
}


@media (max-width: 1270px) {
    .project-content {
        width: 700px;
    }

    .video-block-wrapper {
        width: 924px;
        height: 30px;
    }


    .video-block-wrapper .text {
        width: 450px;
        height: 192px;
    }

    .video-block .button {
        left: 520px;
    }

    .text-block {
        width: 584px;
        height: 360px;
        margin-left: 60px;
    }
}

@media (max-width: 1100px) {
    .news-wrapper {
        width: auto;
        height: auto;
        margin-bottom: 30px;
    }

    .news-item-wrapper {
        grid-template-columns: repeat(3, 266px);
    }

    .news-item-wrapper .first-item {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 443;
    }

    .news-item-wrapper .second-item {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 345;
    }

    .news-item-wrapper .third-item {
        grid-column-start: 3;
        grid-row-start: 1;
        grid-row-end: 385;
    }

    .news-item-wrapper .forth-item {
        grid-column-start: 1;
        grid-row-start: 473;
        grid-row-end: 665;
    }

    .news-item-wrapper .fifth-item {
        grid-column-start: 2;
        grid-row-start: 380;
        grid-row-end: 587;
    }

    .news-item-wrapper .sixth-item {
        grid-column-start: 3;
        grid-row-start: 413;
        grid-row-end: 754;
    }

    .news-item-wrapper .seventh-item {
        grid-column-start: 1;
        grid-row-start: 695;
        grid-row-end: 893;
    }

    .news-item-wrapper .eights-item {
        grid-column-start: 2;
        grid-row-start: 620;
        grid-row-end: 1056;
    }
}




@media (max-width: 1024px) {
    .intro-title {
        font-size: 84px;
        line-height: 84px;
    }

    .intro-text {
        font-size: 18px;
        line-height: 20px;
        width: 587px;
        height: 44px;
    }

    .services-title {
        text-align: center;
    }

    .first-text-block {
        width: 630px;
        height: 30px;
    }

    .second-text-block {
        width: 608px;
    }

    .video-block-wrapper .text {
        width: 400px;
        margin-top: 19px;
    }

    .video-img {
        width: 395px;
        height: 380px;
    }

    .text-block .line {
        margin-top: 15px;
    }

    .video-block .button {
        top: 320px;
        left: 455px;
    }

    .footer-wrapper {
        margin: 0 43px;
    }

    .footer-wrapper::before {
        margin-left: calc(50% - 115px);
    }
}



@media (max-width: 935px) {
    .video-block-wrapper {
        width: 100%;
        margin: 0 60px;
    }

    .video-img {
        width: 240px;
        height: 227px;
        margin-left: 40px;
    }

    .video-block-wrapper .text {
        font-size: 18px;
        line-height: 18px;
        width: 100%;
        margin-right: 60px;
    }

    .video-block .button {
        left: 275px;
    }

    .services-cards-wrapper {
        width: 735px;
    }

    .card {
        width: 364px;
        height: 334px;

    }

    .card .card-border-wrapper {
        width: 331px;
        height: 288px;
    }

    .hover-text {
        width: 196px;
        height: 48px;
    }

    .news-item-wrapper {
        grid-template-columns: repeat(2, 266px);
        grid-auto-rows: 2px;
    }

    .news-item-wrapper .first-item {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 221;
    }

    .news-item-wrapper .second-item {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 172;
    }

    .news-item-wrapper .third-item {
        grid-column-start: 1;
        grid-row-start: 236;
        grid-row-end: 428;
    }

    .news-item-wrapper .forth-item {
        grid-column-start: 2;
        grid-row-start: 185;
        grid-row-end: 290;
    }

    .news-item-wrapper .fifth-item {
        grid-column-start: 2;
        grid-row-start: 305;
        grid-row-end: 389;
    }

    .news-item-wrapper .sixth-item {
        grid-column-start: 1;
        grid-row-start: 443;
        grid-row-end: 613;
    }

    .news-item-wrapper .seventh-item {
        grid-column-start: 2;
        grid-row-start: 404;
        grid-row-end: 503;
    }

    .news-item-wrapper .eights-item {
        grid-column-start: 2;
        grid-row-start: 518;
        grid-row-end: 736;
    }

}


@media (max-width: 790px) {

    .intro,
    .intro-wrapper {
        height: 465px;
        background-image: url(../images/768-bg-img.jpg)
    }

    .intro-title {
        margin-top: 87px;
        font-size: 60px;
        line-height: 60px;
    }

    .intro-text {
        margin-top: 31px;
        width: 487px;
        height: 54px;
    }

    .intro-button {
        margin-top: 32px;
    }

    .intro-pagination {
        margin-top: 50px;
    }

    .intro-arrows {
        top: 176px
    }


    .services {
        padding-left: 0;
    }

    .services-text-wrapper {
        width: 100%;
        text-align: center;
    }

    .first-text-block {
        width: 90%;
        height: 60px;
        margin: 64px auto 0 auto;
        padding: 0 20px;
    }

    .services-text-wrapper .line {
        margin: 30px auto 0 auto;
    }

    .second-text-block {
        width: 90%;
        height: 48px;
        margin: 35px auto 0 auto;
        padding: 0 20px;
    }

    .services-cards-wrapper {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        width: auto;
    }


    .card {
        width: 286px;
        height: 310px;
    }

    .card .card-border-wrapper {
        width: 255px;
        height: 268px;
    }

    .footer-wrapper {
        height: auto;
    }

    .footer-cards-wrapper {
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: repeat(2, 125px);
        margin-bottom: 30px;
        gap: 0 130px;
    }

    .footer-card {
        width: auto;
        height: auto;
    }



}

@media (max-width: 640px) {
    .video-block {
        height: 850px;
    }

    .video-block-wrapper {
        display: flex;
        width: 640px;
        flex-direction: column;
        align-items: center;
    }

    .video-img {
        margin: 46px 0 0 0;
    }

    .text-block {
        margin: 46px 0 0 0;
        height: auto;
        width: auto;
    }



    .video-block-wrapper .title {
        text-align: center;
    }

    .text-block .line {
        margin: 15px auto 0 auto;
    }

    .video-block-wrapper .text {
        text-align: center;
        margin: 40px 0 0 0;
        height: auto;
        width: auto;
        padding: 0 10px;
        font-size: 16px;
        line-height: 18px;
    }

    .video-block .button {
        position: static;
        padding: 21px 20px;
        margin-top: 56px;
    }

    .quotes-wrapper p {
        font-size: 32px;
        line-height: 34px;
    }
}


@media (max-width: 620px) {
    .intro-wrapper {

        background-size: auto;
    }

    .promo {
        height: 254px;
    }

    .promo-wrapper {
        flex-direction: column;
        justify-content: space-around;
    }

    .promo-text-block {
        text-align: center;
    }

    .promo-title {
        margin-bottom: 10px;
    }

    .intro-title {
        font-size: 60px;
        line-height: 60px;
    }

    .intro-text {
        display: none;
    }

    .news-item-wrapper {
        margin-top: 108px;
        display: flex;
        flex-direction: column;
    }

    .news-item {
        position: relative;
        border-radius: 4px;
        overflow: hidden;
        margin: 20px 0;
    }
}




@media (max-width: 600px) {

    .services-cards-wrapper {
        width: 302px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .card {
        width: 300px;
        height: 320px;
    }

    .card .card-border-wrapper {
        width: 255px;
        height: 268px;
    }


}

@media (max-width: 540px) {

    .footer-wrapper .title {
        margin-top: 30px;
        text-align: center;
        font-size: 20px;
        line-height: 22px;
    }

    .social-serv {
        margin-top: 43px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .social-serv-item {
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        margin: 6px 0;
    }

    .footer-cards-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }

    .footer-card {
        margin-top: 46px;
        text-align: center;
    }

    .footer-card .card-title {
        margin-bottom: 18px;
    }

    .return {
        height: 142px;
    }

    .return-wrapper {
        height: 100%;

    }

    .up-block {
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .up-block p {
        text-align: center;
        margin: 56px 0 0 0;
    }

    .up-block a {
       margin-top: 23px;
    }
}


@media (max-width: 450px) {

    .intro-arrows {
        display: none;
    }

    .title {
        font-size: 24px;
        line-height: 28px;
    }
}

@media (max-width: 400px) {
    .first-text-block {
        height: 80px;
        font-size: 20px;
        line-height: 24px;
    }

    .second-text-block {
        height: 80px;
        font-size: 15px;
        line-height: 17px;
    }

    .quotes-wrapper p {
        font-size: 24px;
        line-height: 26px;
    }
}

@media (max-width: 350px) {

    .intro,
    .intro-wrapper {
        height: 193px;
        background-image: url(../images/320-bg-img.jpg)
    }

    .intro-title {
        font-size: 28px;
        line-height: 28px;
        margin-top: 36px;
    }

    .intro-button {
        display: none;
    }

    .intro-pagination {
        margin-top: 63px;
    }

    .promo {
        height: 301px;
    }


}