@media (max-width: 1475px) {
    .services-wrapper {
        flex-direction: column;
    }
}


@media (min-width: 1440px) {

    .intro-wrapper {
        background-size: 100%;
    }

    .services-wrapper {
        width: 1440px;
    }

    .footer-wrapper {
        width: 1440px;
    }
}


@media (max-width: 1270px) {
    .project-content {
        width: 700px;
    }

    .video-block-wrapper {
        width: 924px;
        height: 30px;
    }


    .video-block-wrapper .text {
        width: 450px;
        height: 192px;
    }

    .video-block .button {
        left: 520px;
    }

    .text-block {
        width: 584px;
        height: 360px;
        margin-left: 60px;
    }
}

@media (max-width: 1100px) {
    .news-wrapper {
        width: auto;
        height: auto;
        margin-bottom: 30px;
    }

    .news-item-wrapper {
        grid-template-columns: repeat(3, 266px);
    }

    .news-item-wrapper .first-item {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 443;
    }

    .news-item-wrapper .second-item {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 345;
    }

    .news-item-wrapper .third-item {
        grid-column-start: 3;
        grid-row-start: 1;
        grid-row-end: 385;
    }

    .news-item-wrapper .forth-item {
        grid-column-start: 1;
        grid-row-start: 473;
        grid-row-end: 665;
    }

    .news-item-wrapper .fifth-item {
        grid-column-start: 2;
        grid-row-start: 380;
        grid-row-end: 587;
    }

    .news-item-wrapper .sixth-item {
        grid-column-start: 3;
        grid-row-start: 413;
        grid-row-end: 754;
    }

    .news-item-wrapper .seventh-item {
        grid-column-start: 1;
        grid-row-start: 695;
        grid-row-end: 893;
    }

    .news-item-wrapper .eights-item {
        grid-column-start: 2;
        grid-row-start: 620;
        grid-row-end: 1056;
    }
}




@media (max-width: 1024px) {
    .intro-title {
        font-size: 84px;
        line-height: 84px;
    }

    .intro-text {
        font-size: 18px;
        line-height: 20px;
        width: 587px;
        height: 44px;
    }

    .services-title {
        text-align: center;
    }

    .first-text-block {
        width: 630px;
        height: 30px;
    }

    .second-text-block {
        width: 608px;
    }

    .video-block-wrapper .text {
        width: 400px;
        margin-top: 19px;
    }

    .video-img {
        width: 395px;
        height: 380px;
    }

    .text-block .line {
        margin-top: 15px;
    }

    .video-block .button {
        top: 320px;
        left: 455px;
    }
}



@media (max-width: 935px) {
    .video-block-wrapper {
        width: 100%;
        margin: 0 60px;
    }

    .video-img {
        width: 240px;
        height: 227px;
        margin-left: 40px;
    }

    .video-block-wrapper .text {
        font-size: 18px;
        line-height: 18px;
        width: 100%;
        margin-right: 60px;
    }

    .video-block .button {
        left: 275px;
    }

    .services-cards-wrapper {
        width: 735px;
    }

    .card {
        width: 364px;
        height: 334px;

    }

    .card .card-border-wrapper {
        width: 331px;
        height: 288px;
    }

    .hover-text {
        width: 196px;
        height: 48px;
    }



    .news-item-wrapper {
        grid-template-columns: repeat(2, 266px);
    }

    .news-item-wrapper .first-item {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 443;
    }

    .news-item-wrapper .second-item {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 345;
    }

    .news-item-wrapper .third-item {
        grid-column-start: 1;
        grid-row-start: 473;
        grid-row-end: 856;
    }

    .news-item-wrapper .forth-item {
        grid-column-start: 2;
        grid-row-start: 471;
        grid-row-end: 681;
    }

    .news-item-wrapper .fifth-item {
        grid-column-start: 2;
        grid-row-start: 380;
        grid-row-end: 587;
    }

    .news-item-wrapper .sixth-item {
        grid-column-start: 1;
        grid-row-start: 886;
        grid-row-end: 1227;
    }

    .news-item-wrapper .seventh-item {
        grid-column-start: 2;
        grid-row-start: 695;
        grid-row-end: 893;
    }

    .news-item-wrapper .eights-item {
        grid-column-start: 2;
        grid-row-start: 240;
        grid-row-end: 677;
    }







}


@media (max-width: 790px) {

    .intro,
    .intro-wrapper {
        height: 465px;
        background-image: url(../images/768-bg-img.jpg)
    }

    .intro-title {
        margin-top: 87px;
        font-size: 60px;
        line-height: 60px;
    }

    .intro-text {
        margin-top: 31px;
        width: 487px;
        height: 54px;
    }

    .intro-button {
        margin-top: 32px;
    }

    .intro-pagination {
        margin-top: 50px;
    }

    .intro-arrows {
        top: 176px
    }


    .services {
        padding-left: 0;
    }

    .services-text-wrapper {
        width: 100%;
        text-align: center;
    }

    .first-text-block {
        width: 90%;
        height: 60px;
        margin: 64px auto 0 auto;
        padding: 0 20px;
    }

    .services-text-wrapper .line {
        margin: 30px auto 0 auto;
    }

    .second-text-block {
        width: 90%;
        height: 48px;
        margin: 35px auto 0 auto;
        padding: 0 20px;
    }

    .services-cards-wrapper {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }


    .card {
        width: 286px;
        height: 310px;
    }

    .card .card-border-wrapper {
        width: 255px;
        height: 268px;
    }
}

@media (max-width: 640px) {
    .video-block {
        height: 850px;
    }

    .video-block-wrapper {
        display: flex;
        width: 640px;
        flex-direction: column;
        align-items: center;
    }

    .video-img {
        margin: 46px 0 0 0;
    }

    .text-block {
        margin: 46px 0 0 0;
        height: auto;
        width: auto;
    }



    .video-block-wrapper .title {
        text-align: center;
    }

    .text-block .line {
        margin: 15px auto 0 auto;
    }

    .video-block-wrapper .text {
        text-align: center;
        margin: 40px 0 0 0;
        height: auto;
        width: auto;
        padding: 0 10px;
        font-size: 16px;
        line-height: 18px;
    }

    .video-block .button {
        position: static;
        padding: 21px 20px;
        margin-top: 56px;
    }
}


@media (max-width: 620px) {
    .intro-wrapper {

        background-size: auto;
    }

    .promo {
        height: 254px;
    }

    .promo-wrapper {
        flex-direction: column;
        justify-content: space-around;
    }

    .promo-text-block {
        text-align: center;
    }

    .promo-title {
        margin-bottom: 10px;
    }

    .intro-title {
        font-size: 60px;
        line-height: 60px;
    }

    .intro-text {
        display: none;
    }
}




@media (max-width: 600px) {

    .services-cards-wrapper {
        width: 302px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .card {
        width: 300px;
        height: 320px;
    }

    .card .card-border-wrapper {
        width: 255px;
        height: 268px;
    }

    @media (max-width: 450px) {

        .intro-arrows {
            display: none;
        }

        .title {
            font-size: 24px;
            line-height: 28px;
        }
    }

    @media (max-width: 400px) {
        .first-text-block {
            height: 80px;
            font-size: 20px;
            line-height: 24px;
        }

        .second-text-block {
            height: 80px;
            font-size: 15px;
            line-height: 17px;
        }
    }

    @media (max-width: 350px) {

        .intro,
        .intro-wrapper {
            height: 193px;
            background-image: url(../images/320-bg-img.jpg)
        }

        .intro-title {
            font-size: 28px;
            line-height: 28px;
            margin-top: 36px;
        }

        .intro-button {
            display: none;
        }

        .intro-pagination {
            margin-top: 63px;
        }



        .promo {
            height: 301px;
        }
    }
}