* {
    margin: 0;
    padding: 0;
}


.header {
    background-color: #2B4074;
    width: 100%;
    display: flex;
    justify-content: center;

}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1229px;
    height: 100px;
}

.menu-button:hover {
    cursor: pointer;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro {
    width: 100%;
    height: 100%;
    position: relative;

}

.intro-wrapper {
    width: 100%;
    height: 100%;
    background-image: url(../images/bg-img.jpg);
    background-size: 100%;
    position: relative;
}


.intro-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1440px;
    min-height: 668px;
    background: rgba(33, 33, 33, 0.5);
}

.intro-center-content {
    position: relative;
    width: 1440px;
    height: 668px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.intro-title {
    margin-top: 107px;
    width: 513px;
    height: 192px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: 2px;
    text-align: center;
    color: #FFFFFF;
}

.intro-text {
    margin-top: 28px;
    width: 886px;
    height: 60px;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.button {
    border: none;
    outline: none;
    width: 230px;
    height: 60px;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2B4074;
    color: #F9F6E5;
}

.button-hover:hover {
    background: #39559c;
    cursor: pointer;
    transition: background 1s;
    -webkit-transition: background 1s;
}


.intro-button {
    margin-top: 18px;
}


.intro-pagination {
    margin-top: 128px;
    width: 60px;
    height: 12px;
    display: flex;
    justify-content: space-between;
}

.pagination-bullet {
    width: 10px;
    height: 10px;
    left: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
}

.colored-bullet {
    background-color: #FFFFFF;
}

.intro-arrows {
    position: absolute;
    width: 70px;
    height: 141px;
    right: 0;
    top: 264px;
}

.arrow-block {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-arrow-block {
    border: none;
    outline: none;
    left: 0px;
    top: 0px;
    background: #2B4074;
}


.left-arrow-block {
    border: none;
    outline: none;
    left: 0px;
    top: 71px;
    background: #F9F6E5;
}

.left-arrow-block.button-hover:hover {
    background: #b2bbd3;
}

.arrow {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.right-arrow {
    left: 25.44px;
    top: 35px;

}

.left-arrow {
    left: 44.56px;
    top: 104px;
}

.promo {
    width: 100%;
    height: 192px;
    background: #2B4074;
}

.promo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1140px;
}

.promo-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.promo-text {
    font-family: 'Dosis', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}

.promo-button {
    background: #F9F6E5;
    border-radius: 3px;
    color: #2B4074;
}


.promo-button.button-hover:hover {
    background: #b2bbd3;
}

.line {
    width: 100px;
    height: 8px;
    margin-top: 30px;
    background: #2B4074;
}

.title {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
}

/* SERVICES BLOCK */

.services {
    width: 1440px;
    height: 546px;
    background: #ffffff;
    display: flex;

}

.services-text-wrapper {
    width: 530px;
    height: 546px;
    padding-left: 62px;
}

.services-title {
    margin-top: 90px;
    color: #2B4074;
}

.first-text-block {
    width: 393px;
    height: 60px;
    margin-top: 64px;
    font-family: 'Roboto';
    font-size: 24px;
    line-height: 26px;
    color: #4A4A4A;
}



.second-text-block {
    width: 351px;
    height: 68px;
    margin-top: 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #797979;
}

.services-cards-wrapper {
    width: 1000px;
    height: 546px;
    display: flex;
    flex-wrap: wrap;

}

.card {
    width: 216px;
    height: 270px;
    border: 1px solid #F9F6E5;
    display: flex;
    justify-content: center;

}

.card .card-border-wrapper {
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 208px;
    height: 250px;
    box-sizing: border-box;
}

.card .card-border-wrapper .card-icon {
    margin-top: 80px;
    width: 65px;
    height: 65px;
}

.card .card-border-wrapper .card-title {
    margin-top: 28px;
    text-align: center;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    color: #4A4A4A;
}

.card .card-border-wrapper .hover-block {
    text-align: center;
    margin-top: 22px;
    opacity: 0;
}

.card .card-border-wrapper .hover-block .hover-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #9B9B9B;
    display: inline-block;
}

.card .card-border-wrapper .hover-block .details {
    margin-top: 18px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #2B4074;
    display: inline-block;
}

.card .card-border-wrapper:hover {
    border: 4px solid #2B4074;
    transition: border 0.5s;
}

.card-border-wrapper:hover .card-icon {

    transition: margin-top 1s;
    margin-top: 25px;
}

.card-border-wrapper:hover .card-title {
    transition: margin-top 1s;
    margin-top: 15px;
}

.card-border-wrapper:hover .hover-block {
    opacity: 1;
    transition: opacity 10s;
    -webkit-transition: opacity 1s 0.5s;
}

/* PROJECT BLOCK */

.projects-block {
    width: 100%;
    height: 618px;
    background: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0) 100%);
}

.project-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.project-title {
    text-align: center;
    color: #FFFFFF;
}

.projects-block .line {
    background-color: #FFFFFF;
    margin-top: 24px;
}

.project-content {
    margin-top: 80px;
    width: 1140px;
    /* padding: 0 151px; */
    display: flex;
    justify-content: space-between;

}

.project-content .content-item {
    position: relative;
}

.project-content .content-item img {
    border-radius: 4px;
}

.project-content .content-item p {
    margin-top: 29px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 2px;
    color: #2B4074;
}

.project-content .content-item .hover-block {
    position: absolute;
    width: 243px;
    height: 217px;
    left: 13px;
    top: 11px;
    background: #f9f6e5c0;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.project-content .content-item:hover .hover-block {

    transition: opacity 1s 2s;
    -webkit-transition: opacity 1s;
    opacity: 1;
}

.project-content .content-item .hover-block a {
    padding: 11px;
}

/* VIDEO BLOCK */

.video-block {
    width: 100%;
    height: 580px;
}

.video-block-wrapper {
    display: flex;
    margin-top: 50px;
    width: 1140px;
    position: relative;
}

.video-img {
    width: 470px;
    height: 430px;
    border-radius: 4px;
}

.text-block {
    width: 584px;
    height: 192px;
    margin-left: 93px;
}

.video-block-wrapper .title {
    color: #4A4A4A;
}

.video-block-wrapper .text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #9B9B9B;
    margin-top: 39px;
}

.video-block .button {
    position: absolute;
    left: 560px;
    top: 368px;
}

/* NEWS BLOCK */

.latest-news-block {
    width: 100%;
    height: 1044px;
    background: #F9F6E5;
}